* {
    font-family: "Dragon Slayer";
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dragon Slayer';
    src: url('https://ewdosbox.github.io/fonts/DragonSlayer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #F2E9DC;
    --primary-opacity: rgb(242, 233, 220, 0.8);
    --secondary: #0A0908;
    --tertiary: #774E24;
    --quartiary: #798645;

    --navbar-height: 10vh;
    --footer-height: 20vh;

    --my-bezier: 0.4s cubic-bezier(.17, .67, .83, .67);
}

html {
    font-size: 25px;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Dragon Slayer';
    font-size: 50px;
    color: var(--secondary);
}

h2{
    font-family: 'Dragon Slayer';
    font-size: 40px;
    color: var(--secondary);
}

h3 {
    font-family: 'Dragon Slayer';
    font-size: 30px;
    color: var(--secondary);
}

h4 {
    font-family: 'Dragon Slayer';
    font-size: 20px;
    color: var(--secondary);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: var(--navbar-height);

    background-color: var(--tertiary);

    padding-left: 20px;
    padding-right: 20px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    height: 75%;
    width: 80%;
    color: var(--primary);

    background-image: url("./../images/logos/logo-EwDosbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40%;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
}

.navbar-button {
    margin: 10px;
    padding: 10px;

    min-height: 3vh;
    min-width: 10vw;

    background-color: var(--quartiary);
    color: var(--primary);
    text-decoration: none;

    transition: background-color var(--my-bezier),
        color var(--my-bezier),
        transform var(--my-bezier);
}

.navbar-button:hover {
    transform: scale(1.1);

    background-color: var(--primary);
    color: var(--quartiary);
}

.hero {
    background-color: var(--primary-opacity);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    margin-left: 25vw;

    padding: 50px;

    display: flex;
    align-items: center;

    height: calc(30vh - var(--navbar-height));
}

.hero-container {
    background-image: url("./../images/PlatBorne3.png");
    background-size: 100vw 100vh;
    height: calc(100vh - var(--navbar-height));
}

.hero-black-overlay {
    background-color: rgba(0, 0, 0, 0.25);

    height: 100%;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.projects {
    background-color: #0A0908;
}

.project {
    background-color: #F2E9DC;
    min-height: 20vh;

    padding: 50px;

    margin-top: 10vh;
    margin-bottom: 10vh;

}

.project-roomstretch {
    margin-right: 33.33vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.project-platborne {
    width: auto;

    margin-left: 33.33vw;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.project-fraid {
    margin-right: 33.33vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.project-text {
    font-family: 'Dragon Slayer';
    font-size: 16pt;
    color: var(--secondary);
}

.contact-me {
    background-color: var(--primary);
}

.contact-me-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-title{
    font-family: 'Dragon Slayer';
    font-size: 30pt;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon{
    display: block;
    height: 50px;
    width: 50px;

    margin: 20px;
}

.github-icon {
    background-image: url("./../images/logos/logo-GitHub.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.itch-icon {
    background-image: url("./../images/logos/logo-Itch.Io.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.email-icon {
    background-image: url("./../images/logos/logo-EMail.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.phone-icon {
    background-image: url("./../images/logos/logo-Telephone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page {
    background-color: var(--secondary);
    padding-top: var(--navbar-height);
    min-height: 150vh;
}


.footer {
    border-top: 10px solid var(--quartiary);
    background-color: var(--tertiary);
    height: var(--footer-height);
}

.footer-wrapper {
    margin-left: 33.33vw;
    padding-right: 50px;

    height: var(--footer-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-to-top {
    height: 5vh;
    width: 5vh;

    position: fixed;
    right: 20px;
    bottom: 20px;
}

.back-to-top img:hover {
    filter: drop-shadow(0 0 3px var(--quartiary));
}